<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href="{{ '/assets/css/font.css' | relative_url }}" rel='stylesheet' type='text/css'>
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" target="_blank" class="btn">查看此站点的 GitHub</a>
      {% endif %}
      <a href="{{ '/my_posts?v=' | append: site.github.build_revision | relative_url }}" class="btn">Posts</a>
      <p></p>
      <a href="https://weibo.com/u/1902639291" target="_blank" class=""><img height="32px" src="{{ '/assets/icon/微博.png' | relative_url }}"></a>
      <a href="#" onclick="showHideQR();" class=""><img height="32px" src="{{ '/assets/icon/微信.png' | relative_url }}"></a>
      <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=244296129&site=qq&menu=yes"><img height="28px" src="{{ '/assets/icon/qq.png' | relative_url }}" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
      <div id="weqr" style="display:none">
          <img width="100%" style="max-width:360px" src="{{ '/assets/icon/wechatqr.jpg' | relative_url }}">
        </div>
    </section>
    <script>
      function showHideQR(){
          var qrdiv = document.getElementById("weqr");
          if(qrdiv.style.display=="none"){
            qrdiv.style.display = "block";
          }else{
            qrdiv.style.display = "none";
          }
          
      }
    </script>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> 由 <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>维护.</span>
        {% endif %}
        <span class="site-footer-credits">网页由 <a href="https://pages.github.com">GitHub Pages</a>生成.</span>
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
